.blog {
    background-color: #f6f2f2fd;
    
}

.blog__header {
    
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__header__item {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
}

.blog__header__item__elem {
    display: flex;
    width: 109px;
    height: 51px;
    justify-content: center;
    align-items: center;
}

.blog__header__item__elem:hover {
    border: 1px solid #52C41A;
    color: #52C41A;
}